pkgbase = warspear
	pkgdesc = Warspear Online is a cross-platform massively multiplayer online roleplaying game (MMORPG) for smart phones.
	pkgver = 13.5.0
	pkgrel = 1
	url = http://warspear-online.com/
	arch = i686
	arch = x86_64
	license = custom
	depends = mesa
	depends = openal
	depends = libxft
	depends = curl
	optdepends = xdg-utils: for desktop environment integration
	optdepends = zenity: for graphical dialog boxes
	optdepends = nvidia-utils: alternative OpenGL implementation for NVIDIA users
	source_i686 = http://distr.warspear-online.com/linux/pool/non-free/w/warspear/warspear_13.5.0_i386.deb
	sha512sums_i686 = ea0c98e59f4e0bb6009c5be09dbdfea729b7628baf55c2976e95f73f9ec05be8f5ff3bd47ea29f7cd49df752f738e4ecd928feae825a2807b0758c53d1762ddd
	source_x86_64 = http://distr.warspear-online.com/linux/pool/non-free/w/warspear/warspear_13.5.0_amd64.deb
	sha512sums_x86_64 = f3494a4c81f50eac7e2ba3dbff9eca006bacdbe0d5d17f6e0f8d717f87dd8f200fdd1a3fac6e2384ad22df56b1c6668560a10732c05ae6bcd2f0d0e6a722b270

pkgname = warspear
